@import 'lib/livefyre-bootstrap/src/styles/buttons.less';

.hub-modal-content-view {
    max-width: 640px;
}
.hub-modal-content-permalink{
    width: 100%;

    .permalink-button {
        margin-top: 5px;
        width: 100%;
        height:36px;

        .lf-btn();
        .lf-btn-default();
    }
}
